<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
                id="tankhah_menu_root"
                name="تنخواه"
                web_icon="tankhah,static/description/icon.svg"
        />

        <menuitem
                id="menu_buy"
                name="ثبت خرید"
                parent="tankhah_menu_root"
                action="action_expense"
                sequence="1"/>

        <menuitem
                id="menu_employee"
                name="لیست کارمندان"
                parent="tankhah_menu_root"
                action="action_employee"
                sequence="2"/>

        <menuitem
                id="menu_bought"
                name="لیست خرید ها"
                parent="tankhah_menu_root"
                action="action_expense"
                sequence="3"/>

        <menuitem
                id="menu_type"
                name="انواع هزینه"
                parent="tankhah_menu_root"
                action="action_type"
                sequence="4"/>

    </data>
</odoo>
